src/main/resources/api/MaterialBatchService.wsdl

<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:i0="http://xmlns.amgen.com/enterprise/services/BatchClient/V1" xmlns:wsmex="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://xmlns.amgen.com/enterprise/services/MaterialBatchClient/V1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://xmlns.amgen.com/enterprise/services/MaterialBatchClient/V1">
<wsdl:types>
<xs:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://xmlns.amgen.com/enterprise/services/BatchClient/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsmex="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="schema1" targetNamespace="http://xmlns.amgen.com/enterprise/services/BatchClient/V1"/>
<xs:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://xmlns.amgen.com/enterprise/doctypes/MaterialBatch/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsmex="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="schema2" targetNamespace="http://xmlns.amgen.com/enterprise/doctypes/MaterialBatch/v1">
<xs:import namespace="http://xmlns.amgen.com/enterprise/datatypes/AmgenTypes/v2"/>
<xs:element name="AmgenMaterialBatch" type="tns:AmgenMaterialBatchType"/>
<xs:complexType name="AmgenMaterialBatchType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="BatchNumber" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="MaterialNumber" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="VendorBatchNumber" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="Status" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="BatchCharacteristicsList" type="tns:ArrayOfBatchCharacteristic"/>
<xs:element maxOccurs="1" minOccurs="0" name="QADDate" nillable="true" type="xs:date"/>
<xs:element maxOccurs="1" minOccurs="0" name="ManufactureDate" nillable="true" type="xs:date"/>
<xs:element maxOccurs="1" minOccurs="0" name="ManufactureEndDate" nillable="true" type="xs:date"/>
<xs:element maxOccurs="1" minOccurs="0" name="ExpirationDate" nillable="true" type="xs:date"/>
<xs:element maxOccurs="1" minOccurs="0" name="GoodsReceipt" type="tns:GoodsReceipt"/>
<xs:element xmlns:q1="http://xmlns.amgen.com/enterprise/datatypes/AmgenTypes/v2" maxOccurs="1" minOccurs="0" name="Administration" type="q1:AdministrationType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ArrayOfBatchCharacteristic">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="BatchCharacteristic" type="tns:BatchCharacteristic"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BatchCharacteristic">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="ID" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="Value" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GoodsReceipt">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="LastUpdatedDate" nillable="true" type="xs:date"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://xmlns.amgen.com/enterprise/services/BatchClient/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsmex="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.amgen.com/enterprise/services/BatchClient/V1">
<s:import namespace="http://xmlns.amgen.com/enterprise/doctypes/MaterialBatch/v1"/>
<s:import namespace="http://xmlns.amgen.com/enterprise/datatypes/AmgenTypes/v2"/>
<xs:import namespace="http://xmlns.amgen.com/enterprise/doctypes/MaterialBatch/v1"/>
<xs:element name="ProcessMaterialBatch" type="tns:ProcessMaterialBatchRequestType"/>
<xs:complexType name="ProcessMaterialBatchRequestType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="MessageId" type="xs:string"/>
<xs:element xmlns:q1="http://xmlns.amgen.com/enterprise/doctypes/MaterialBatch/v1" maxOccurs="1" minOccurs="0" ref="q1:AmgenMaterialBatch"/>
</xs:sequence>
</xs:complexType>
</s:schema>
<xs:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://xmlns.amgen.com/enterprise/datatypes/AmgenTypes/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsmex="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="schema3" targetNamespace="http://xmlns.amgen.com/enterprise/datatypes/AmgenTypes/v2">
<xs:complexType name="AdministrationType">
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="LastUpdateDate" type="xs:dateTime"/>
<xs:element maxOccurs="1" minOccurs="0" name="LastUpdatedByWorkforceId" type="xs:NMTOKEN"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:i0="http://xmlns.amgen.com/enterprise/services/BatchClient/V1" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://xmlns.amgen.com/enterprise/services/MaterialBatchClient/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsmex="http://schemas.xmlsoap.org/ws/2004/09/mex" targetNamespace="http://xmlns.amgen.com/enterprise/services/MaterialBatchClient/V1">
<s:import namespace="http://xmlns.amgen.com/enterprise/services/BatchClient/V1"/>
<s:import namespace="http://xmlns.amgen.com/enterprise/datatypes/AmgenTypes/v2"/>
</s:schema>
</wsdl:types>
<wsdl:message name="ProcessMaterialBatchSoapOut"> </wsdl:message>
<wsdl:message name="ProcessMaterialBatchSoapIn">
<wsdl:part name="ProcessAmgenMaterialBatch" element="i0:ProcessMaterialBatch"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="MaterialBatchClientV1_0SOAP">
<wsdl:operation name="ProcessMaterialBatch">
<wsdl:input message="tns:ProcessMaterialBatchSoapIn"> </wsdl:input>
<wsdl:output message="tns:ProcessMaterialBatchSoapOut"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="MaterialBatchClientV1_0SOAP1" type="tns:MaterialBatchClientV1_0SOAP">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="ProcessMaterialBatch">
<soap12:operation soapAction="http://xmlns.amgen.com/enterprise/services/MaterialBatchClient/V1/ProcessMaterialBatch" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="MaterialBatchClientV1_0SOAP" type="tns:MaterialBatchClientV1_0SOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="ProcessMaterialBatch">
<soap:operation soapAction="http://xmlns.amgen.com/enterprise/services/MaterialBatchClient/V1/ProcessMaterialBatch" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="MaterialBatchEDHSubscriber_vs0">
<wsdl:port name="MaterialBatchEDHSubscriber_vs0_http" binding="tns:MaterialBatchClientV1_0SOAP">
<soap:address location="http://localhost:8091/MaterialBatchEDHSubscriber_vs0/MaterialBatchEDHSubscriber_vs0_http1"/>
</wsdl:port>
<wsdl:port name="MaterialBatchEDHSubscriber_vs0_http1" binding="tns:MaterialBatchClientV1_0SOAP1">
<soap12:address location="http://localhost:8091/MaterialBatchEDHSubscriber_vs0/MaterialBatchEDHSubscriber_vs0_http1"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>